= link_to 'Calc It', root_path, :class => 'brand'
.beta
  beta
.nav-collapse.collapse
  %ul.nav
    - if user_signed_in?
      %li
        = link_to 'This is a menu item', users_index_path
      
    
  .pull-right
    %ul.nav
      %li
        - if user_signed_in?    
          %li
            = link_to "#{current_user.email}", edit_user_registration_path(current_user)
          %li
            = link_to 'Logout', destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to 'Sign in', new_user_session_path
          %li
            = link_to 'Sign up', new_user_registration_path
          
