.form
  = semantic_form_for @transaction do |f|      
    = f.inputs do
      = f.input :transaction_type, as: :select, collection: Transaction.trans_type
      = f.input :amount
      = f.input :transaction_date, as: :string
      = f.input :post_date, as: :string
      = f.input :description, as: :text,  input_html: { rows: 2 }      
    = f.actions

:javascript
  $('#transaction_transaction_date').datepicker({format: 'yyyy-mm-dd'})
  $('#transaction_post_date').datepicker({format: 'yyyy-mm-dd'})