- @page_name = 'Listing transactions'

- @balance > 0 ? color = 'green' : color = 'red'

%h4{ style: "color: #{color}" }
  Balance $#{@balance}

%p
=  paginate @transactions

%table.table
  %tr
    %th
      ID
    %th
      Type
    %th
      Amount
    %th
      Transaction Date
    %th
      Post Date
    %th
      Description
    %th
      &nbsp;
    %th
      &nbsp;

  - @transactions.each do |transaction|
    %tr      
      %td 
        = transaction.id
      %td
        = transaction.transaction_type
      %td
        = transaction.amount
      %td
        = transaction.transaction_date
        -#{time_ago_in_words(transaction.transaction_date)} ago
      %td
        = transaction.transaction_date
        -#{time_ago_in_words(transaction.post_date)} ago
      %td
        = transaction.description
      %td
        = link_to 'Edit', edit_transaction_path(transaction)
      %td
        = link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }

%p
  =  paginate @transactions

%p

  = link_to 'New Transaction', new_transaction_path
  |
  = link_to 'Upload File', new_transaction_import_path
  |
  = link_to 'Delete last bulk upload of transactions', delete_last_bulk_upload_path, :confirm => 'Are you sure?', :method => :delete
